{% extends "layout.html" %}

{% block content %}
  <main class="about-section">
    <div class="container">

    <h2>About RoboQuant</h2>
    <p>

      Here at RoboQuant, we believe every investor deserves a quant. There are times when the instrument is trending or experiencing mean-reversion.
      Retail investors might not have the expertise or the time to keep monitoring the market. Let us be your quant and realize these investment opportunities for you.

    </p>

    </div>

    <div>
    <a href="https://plot.ly/~schen91020/92/?share_key=qAB2IoENRLq3s02GquJe0W" target="_blank" title="Mean Reversion Time Series" style="display: block; text-align: center;"><img src="https://plot.ly/~schen91020/92.png?share_key=qAB2IoENRLq3s02GquJe0W" alt="Mean Reversion Time Series" style="max-width: 100%;width: 900px;"  width="900" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
    <script data-plotly="schen91020:92" sharekey-plotly="qAB2IoENRLq3s02GquJe0W" src="https://plot.ly/embed.js" async></script>
    </div>




  </main>
{% endblock %}
