{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>Everyone deserves a quant.</h2>
        <h3>Without doing a thorough analysis, your portfolio might all be in one cluster.</h3>
        <a href="#" class="btn-primary">Sign up</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Learn more</a>
      </div>

      <div class="section-device">

        <div>
          <a href="https://plot.ly/~schen91020/90/?share_key=6czxA3dPu7UpnP0psXgpuU" target="_blank" title="3d_corr_mean_var" style="display: block; text-align: center;"><img src="https://plot.ly/~schen91020/90.png?share_key=6czxA3dPu7UpnP0psXgpuU" alt="3d_corr_mean_var" style="max-width: 100%;width: 600px;"  width="600" onerror="this.onerror=null;this.src='https://plot.ly/404.png';" /></a>
          <script data-plotly="schen91020:90" sharekey-plotly="6czxA3dPu7UpnP0psXgpuU" src="https://plot.ly/embed.js" async></script>
        </div>


      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
